body {
    max-width: 90%;
    margin: 2em auto;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background: #60af60;
}

.pageContent > div > div {
    margin: 0;
}

.pageContent > div > div.viewed {
    margin: 0 0 4em 0;
}

.pageContent {
    background: rgb(253, 255, 197);
    padding: 3em 5em;
}

img.withDescription {
    max-width: 500px;
    width: 70%;
    float: left;
    margin: 0 1em 1em 0;
}

img.withDescription.small {
    max-width: 250px;
}

img.withDescription.wide {
    max-width: 100%;
    width: 100%;
}

p {
    margin: 0;
}

span.crossedOut {
    text-decoration: line-through;
}

#interfaceDescription ul {
    list-style-type: none;
}

#interfaceDescription > ul > li {
    margin: 1em;
    padding: 1em;
    padding: 1em;
    background-color: #f3fff0;
}

#interfaceDescription li > div {
    background-color: white;
    border: 1px solid #008b01;
    padding: 1em;
}

#ifYouWish {
    font-size: 0.8em;
    font-style: italic;
}

ul#randomizerSettingsDescription {
    list-style-type: decimal;
}

.additionalInfo {
    color: #2b6201
}

li {
    margin: 1em 0;
}

div {
    margin: 1em 0;
}

.imageWithDescriptionContainer {
    display: inline-block;
}

.lurking {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.lurking.viewed{
    height: 100%;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.collapseTrigger {
    color: #0e7449;
    transition: all 1s ease-out;
}

.collapseTrigger:hover {
    color: #119a00;
    text-shadow: 0 6px 17px #7c7113;
    cursor: pointer;
}

p.important {
    margin: 0.5em 0;
}

.important {
    font-weight: bold;
    font-style: italic;
}